POSTGRES_VERSION=latest
PGADMIN_VERSION=latest

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345Abcde

PGADMIN_EMAIL=postgres@example.org
PGADMIN_PASSWORD=12345Abcde

COMPOSE_PROJECT_NAME=postgresql
