POSTGRES_VERSION=latest
PGADMIN_VERSION=latest

POSTGRES_DB=test
POSTGRES_USER=test
POSTGRES_PASSWORD=12345Abcde

PGADMIN_EMAIL=admin@test.com
PGADMIN_PASSWORD=12345Abcde

COMPOSE_PROJECT_NAME=postgresql
